<!DOCTYPE kpartgui SYSTEM 'kpartgui.dtd'>
<kpartgui version="17" name="hikki">
 <MenuBar>
  <Menu name="file">
   <Action name="edit_mode"/>
   <Action name="display_mode"/>
   <Action name="delete_note"/>
  </Menu>
  <Menu name="go">
   <Text>&amp;Go</Text>
   <Action name="go_home"/>
   <Action name="back"/>
   <Action name="forward"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default">
  <Action shortcut="Alt+2" name="display_mode"/>
  <Action shortcut="Alt+1" name="edit_mode"/>
  <Action shortcut="Alt+Left" name="back"/>
  <Action shortcut="Alt+Right" name="forward"/>
 </ActionProperties>
 <ToolBar noMerge="1" name="mainToolBar">
  <Action name="edit_mode"/>
  <Action name="display_mode"/>
  <Action name="go_home"/>
  <Action name="back"/>
  <Action name="forward"/>
  <Action name="delete_note"/>
 </ToolBar>
</kpartgui>
